
@font-face {
  font-family: IndustryTest;
  src: url("fonts/IndustryTest-MediumItalic.otf") format("opentype");
}


html{
  height: 100%;
  background: #282c34;
}

.App {
  font-family: IndustryTest;
  text-align: center;
  /* width: 100vw; */
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: orange;
  border-width: 10px;
  /* border-style: solid; */ /* uncomment for debugging */
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  padding: 10px;
  height: 20vmin;
  object-fit: contain; /* keeps width of image proportional through height resizing */
  pointer-events: none;
}

.teamlogo{
  /* padding-left: 10px;
  padding-right: 10px; */
  padding-right: 3vmin; 
  padding-left: 3vmin;
  margin-bottom: -1vmin;
  height: 10vmin;
  object-fit: contain; /* keeps width of image proportional through height resizing */
  pointer-events: none;
}
.App-header {
  /* width: 100%; */
  font-size: calc(10px + 4vmin) ;
  border-color: #61dafb;
  border-width: 10px;
  /* border-style: solid; */ /* uncomment for debugging */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  font-family: IndustryTest;
  color: white;
  font-size: 3.5vmin;
  width: 250px;
  height: 5vh;
  background-color: #013369;
  transform: skew(-20deg);
  border-radius: 4px;
  margin: 2px;
  border: none;
  box-shadow: 3px 5px 5px black;   
}

.btn:hover{
  border-color: white;
  border-style: solid;
}

.btn-text{
  transform: skew(20deg);
  text-align: center; /* Add this to center the text within the skewed button */
  display: inline-flex;
  justify-content: center;
}

.loading{
  animation: typing 3s steps(80, jump-both) infinite;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeAtAway{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.scheduledGames{
  border-color: orange;
  border-width: 10px;
  /* border-style: dashed; */ /* uncomment for debugging */
}

.logoAndName{
  display: flex;
  flex-direction: column;
}

.scheduledGame{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  border: solid;
  border-color: white;
  /* border-width: 0.5vmin; */
  font-size: 3vmin;
  margin: 1%;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
}

.startedGame{ /*canvas container for our chart. no point in specifying width or height, since Chart.js components don't inherit from parent CSS classes*/
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 4vmin) ;
  color: white;
  margin: 2px;
  height: 22vmax;
  width: 50vw;
  border-color: blue;
  border-width:4;
  /* border-style: solid; */ /* uncomment for debugging */
  /* position: relative; */
} 

@media only screen and (orientation:portrait) {
  [class*="startedGame"] {
    height: 30vmax;
    width: 90vw;
  }
}

@media only screen and (max-width: 1024px) and (orientation:landscape) {
  [class*="startedGame"] {
    height: 60vh;
    width: 60vw;
  }
}



.team{
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
  align-items: center; /* removing this causes bar and child to stretch. but why? mozilla says align-items manipulates centering on y-axis*/
  justify-content: center;
}

.selectTeam{
  transform: skew(-20deg);
  border-radius: 10px;
}

.selectTeamForm{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to{
    width: 40vmin;
  }

}


